.c-img {
  overflow: hidden;
  &.product_slug {
    border-radius: var(--border-radius-md);
    position: relative;
    box-shadow: 0 4px 48px rgba(#ff8800, 0.03);

    max-height: calc(100vh - 105px - 16px);


  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}


.c-gallery {
  margin: 24px 0 0;
  display: flex;
  & > div:not(:first-child) {
    margin-left: 12px;
  }
  .c-img {
    aspect-ratio: 1;
    width: 65px;
    cursor: pointer;
    background: #fff;
    border-radius: var(--border-radius-md);

  }
  img {
    transition: 0.5s var(--ease-o3);
    &:hover {
      opacity: 0.5;
    }
  }
}

._img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
