header {
  @include _inset(0, 0, auto,0 );
  position: absolute;
  z-index: 739;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcfcfc;
  padding: 12px 0;
  & > *:first-child, &> *:last-child {
    padding:  0 32px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    height: 16px;
    opacity: .07;
    background: linear-gradient(to bottom,var(--secondary) 0%,transparent 100%);
  }
}
.c-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: rem(24px);
}
#logo {
  height: 50px;
  border-radius: 0.375rem;
  margin: 0 12px 0 0;

}

